*.jl.cov
*.jl.*.cov
*.jl.mem
coverage/
Manifest.toml
docs/Manifest.toml
docs/build/
docs/_site
*.claude
*.ipynb
*.quarto
docs/site_libs
docs/.quarto/
docs/*_files/
docs/coverage/
**/*.quarto_ipynb
*.html
